@model  WebApplication3.Models.ModelForView
@{
    ViewBag.Title = "_Passengers";
}

@*@Html.BeginForm("Logout", "Account")
        {
    <button class="btn btn-danger btn-xs" type="submit">ssss</button>
        }*@
<style>
    body {
        background: url(/Picture/123.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    table {
        /*visibility:hidden;*/
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 18px;
        border-radius: 10px;
        border-spacing: 0;
        text-align: center;
    }

    th {
        background: #9a00db;
        color: #FFCF18;
        text-shadow: 0 1px 1px #2D2020;
        padding: 10px 20px;
    }

    th, td {
        border-style: solid;
        border-width: 0 0px 1px 0;
        border-color: white;
    }

        th:first-child, td:first-child {
            text-align: left;
        }

        th:first-child {
            border-top-left-radius: 10px;
        }

        th:last-child {
            border-top-right-radius: 10px;
            border-right: none;
        }

    td {
        padding: 10px 20px;
        background: #673774;
        color: white;
    }

    tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }

    tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
    }

    tr td:last-child {
        border-right: none;
    }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table align="center">
    <tr>
        <th>
            City_Arrival
            </th>
        <th>
            Date_bir
        </th>
        <th>
            First_Name
        </th>
        <th>
            Second_Name
        </th>
        <th>
            Nationality
        </th>
        <th>
            Sex
        </th>
        <th>
            Ticket_Сlass
        </th>
    </tr>

    @*@foreach (var item in Model.Passengers)
    {
        <tr>
            <td>
                    @Html.DisplayFor(model => item.Airports.City_Arrival)
                </td>
            <td>
                @Html.DisplayFor(model => item.Date_bir)
            </td>
            <td>
                @Html.DisplayFor(model => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Second_Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(model => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(model => item.Ticket_Сlass)
            </td>
        </tr>
    }*@

</table>